#encabezado{
    text-align: center;
}
.section h2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.section article ul{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}